
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}
<div class="breadcrumbs-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb-single blog_top_area">
                    <ul id="breadcrumbs">
                        <li><a href=""><i class="fa fa-home"></i>TRANG CHỦ</a></li>
                        <li><span>Ι</span></li>
                        <li>GIỚI THIỆU</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End breadcrumbs area -->
<!--Start about hope area -->
<div class="about_hope_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="about_hope_text">
                    <h1>CHÀO MỪNG ĐẾN VỚI CỬA HÀNG CỦA CHÚNG TÔI - <strong>FC Flower</strong></h1>
                    <p>Với sự đầu tư nghiêm túc, chúng tôi tập trung nâng cao trải nghiệm người dùng (UX) kể cả trên môi trường trực tuyến và ngoại tuyến để đem lại một dịch vụ hoàn hảo xứng đáng trong nỗ lực trở thành công ty điện hoa số 1 tại Việt Nam.</p>
                    <ul id="about_hope_details">
                        <li><i class="fa fa-angle-right"></i> Chúng tôi có tình yêu với hoa.</li>
                        <li><i class="fa fa-angle-right"></i> Chúng tôi mang đến cho bạn những bông hoa đẹp nhất.</li>
                        <li><i class="fa fa-angle-right"></i> Chúng tôi mang thiên nhiên đến những bữa tiệc của bạn.</li>
                    </ul>
                    <div class="about_read_more">

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="about_hope_image">
                    <img src="~/Assets/img/author/team30.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

