
@{
    ViewBag.Title = "LoginOrRegister";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<div class="my_account_page_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="create_account">
                    <h2>ĐĂNG NHẬP HOẶC TẠO TÀI KHOẢN MỚI</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="new_customer">
                    <h3>Chưa có tài khoản?</h3>
                    <ul class="register_form">
                        <li>Tài khoản<span>*</span><span id="username-warning"></span></li>
                        <li>
                            <div class="email_address">
                                <input id="regis-username" type="text" class="email_test" />
                            </div>
                        </li>
                        <li>Mật khẩu<span>*</span><span id="password-warning"></span></li>
                        <li>
                            <div class="email_address">
                                <input id="regis-password" type="password" class="password" />
                            </div>
                        </li>
                        <li>Họ tên<span>*</span></li>
                        <li>
                            <div class="email_address">
                                <input id="regis-fullname" type="text" class="password" />
                            </div>
                        </li>
                        <li>Giới tính<span></span></li>
                        <li>
                            <div class="email_address">
                                <input id="regis-gender" type="text" class="password" />
                            </div>
                        </li>
                        <li>Địa chỉ<span></span></li>
                        <li>
                            <div class="email_address">
                                <input id="regis-address" type="text" class="password" />
                            </div>
                        </li>
                        <li>Email<span>*</span><span id="email-warning"></span></li>
                        <li>
                            <div class="email_address">
                                <input id="regis-email" type="text" class="email_test" />
                            </div>
                        </li>
                        <li>Số điện thoại<span>*</span><span id="phone-warning"></span></li>
                        <li>
                            <div class="email_address">
                                <input id="regis-phone" type="text" class="password" />
                            </div>
                        </li>
                        <li><h2 id="regis-hidden"><span id="regis-warning">*</span></h2></li>
                    </ul>
                    <div class="create_button_area">
                        <button id="regis-submit" class="create_button">
                            Tạo tài khoản
                        </button>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="new_customer">
                    <h3>Đã có tài khoản</h3>
                    <p style="color: rgb(0, 143, 95);">Nếu bạn đã có tài khoản tại trang web fcflower.com, xin hãy đăng nhập.</p>

                    <ul class="register_form">
                        <li>Tài khoản<span>*</span></li>
                        <li>
                            <div class="email_address">
                                <input id="login-username" type="text" class="email_test" />
                            </div>
                        </li>
                        <li>Mật khẩu<span>*</span></li>
                        <li>
                            <div class="email_address">
                                <input id="login-password" type="password" class="password" />
                            </div>
                        </li>
                        <li><h2 id="login-hidden"><span id="login-warning">*</span></h2></li>
                    </ul>
                    <div class="create_button_area">
                        <a href="">Bạn không nhớ mật khẩu?</a>
                        <button id="login-submit" type="submit" class="create_button">
                            Đăng nhập
                        </button>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Assets/js/vendor/jquery-1.11.3.min.js"></script>
<script src="~/Assets/js/sendDataAjax/account.js"></script>

